<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}VPN Trading{% endblock %}</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-2 ps-0 bg-dark min-vh-100">
          <nav class="nav flex-column bg-dark">
          <a class="nav-link active btn btn-primary" aria-current="page" href="#">Dashboard</a>
          <a class="nav-link btn btn-primary" href="#">Deposit</a>
          <a class="nav-link btn btn-primary" href="#">Withdraw</a>
          <a class="nav-link btn btn-primary" href="#">Transaction History</a>
          <a class="nav-link btn btn-primary" href="#">Settings</a>
          <a class="nav-link btn btn-primary" href="{{url_for('login')}}">Log Out</a>
        </nav>
      </div>
      <div class="col-10 min-vh-100" style="background: linear-gradient(180deg, #4B0B5C, #E0348E);">
          {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <footer class="bg-dark text-light">
    <div class="container py-3"><p class="text-center mb-0">© 2025 VPN Trading</p></div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
</body>
</html>